<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <p class="col-md-12 text-center">Built by Sulaimon Buari Copyright © 2025.</p>
        </div>
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <a href="https://ng.linkedin.com/in/buari-sulaimon-9907ba136" class="col-md-6 social" target="_blank">
                    <i class="fa fa-linkedin fa-2x icon" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/aces32" class="col-md-6 social" target="_blank">
                    <i class="fa fa-github fa-2x icon" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
