<div class="container section-about" id="section-about">
    <div class="row">
        <div class="col-lg-7 pr-5">
            <img src="../../assets/PortfolioIMG/HMO3.jpg" alt="AboutmeIMG" class="img-fluid img-responsive">
        </div>
        <div class="col-lg-5 pl-5">
            <div class="about-Me">
                <h2 class="mb-5">
                    About
                    <strong>
                        ME
                    </strong>
                </h2>
                <p class="lead">
                    Dedicated and Top-Notch IT Professional with a fervor for tackling human-based problems with the use of Computer Technologies whilst having competency in all areas of system support, programming and having the ability to succeed in a demanding work environment.
                </p>
                <p class="mb-5">
                    Highly articulated and effective communicator, work well with individuals at levels, looking forward to making significant contributions in an ambitious and exciting company that offers genuine opportunities for progression.  
                </p>
                <p>
                    <a href="#section-contact" class="btn btn-primary btn-hire pd-btn mr-2 mb-5">HIRE ME</a>
                    <a href="https://drive.google.com/file/d/1a2-Nf7fY-aG1qwv8pUw4nAPtm5Xtq9jD/view?usp=sharing" 
                    class="btn btn-primary btn-cv pd-btn mr-2 mb-5" target="_blank">DOWNLOAD MY CV</a>
                </p>
            </div>
        </div>
    </div>
</div>
