<div class="container section-about" id="section-contact">
    <div class="row">
        <div class="contact-heading col-md-12">
            <h2 class="mb-5">Contact Me</h2>
        </div>
        <div class="col-md-7">
            <form>
                <h3 class="mb-5">Get In Touch</h3>
                <div class="form-group">
                    <input class="form-control input-fine"  type="text" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <input class="form-control input-fine" type="text" placeholder="Your Email">
                </div>
                <div class="form-group">
                    <input class="form-control input-fine"  type="text" placeholder="Your Phone">
                </div>
                <div class="form-group">
                    <textarea class="form-control input-fine"  placeholder="Write your message" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <a href="" class="btn btn-primary btn-message mb-5">
                        Send Message
                    </a>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <h3 class="mb-5">My Contact Details</h3>
            <ul>
                <li>
                    <span>EMAIL:</span>
                    buarisulaimon@gmail.com
                </li>
                <li>
                    <span>
                        PHONE NO: 
                    </span>
                    +2348083837752
                </li>
                <li>
                    <span>
                        ADDRESS:
                    </span>
                    8 Ayo Buari Street Ketu, Lagos, Nigeria
                </li>
            </ul>
        </div>
    </div>
</div>